.logo-nav {
    height: 300px !important;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    transition: 1400ms;
   
}

.logo-nav:hover {
    transform: rotate(360deg);
    transition: 1400ms;
}

.futura {
    font-family: futura-pt-bold, sans-serif !important;
    font-weight: 700 !important;
    font-style: normal !important;
    text-transform: uppercase !important;


}

.futura-maingrid {
    font-family: futura-pt-bold, sans-serif !important;
    
    font-weight: 700 !important;
    font-style: normal !important;
    text-transform: uppercase !important;

}

.futura-p {
    font-family: futura, sans-serif !important;
    font-weight: 100 !important;
    font-style: normal !important;

}

.grapefruit {
    margin-left: 18px !important;
    margin-top: 163px !important;
    padding-left: 24px !important;
}

.mt {
    margin-top: 30px !important;
    margin-left: -26 !important;
}

.sourcecode-subtitle {
    font-family: 'Source Code Pro', monospace !important;
    font-weight: 500 !important;
}


.bigthemes-mt {
    margin-top: 4em !important;
}

.connect-mw {
    max-width: 400px !important;
}

.retro-link {
    color: #4A7DBA !important;
    font-style: italic !important;
    font-weight: 500 !important;
}

.resume-link {
    color: #4A7DBA !important;
    font-style: italic !important;
    font-weight: 800 !important;
    font-size: 22px !important;

}



/* Type Style Guide

Futura PT Heavy

font-family: futura-pt, sans-serif;
font-weight: 700;
font-style: normal;

Futura PT Book
font-family: futura-pt, sans-serif;
font-weight: 400;
font-style: normal;

Futura PT Book Oblique
font-family: futura-pt, sans-serif;
font-weight: 400;
font-style: italic;

Futura PT Bold
font-family: futura-pt-bold, sans-serif;
font-weight: 700;
font-style: normal;

Futura PT Cond Book
font-family: futura-pt-condensed, sans-serif;
font-weight: 400;
font-style: normal;

Futura PT Cond Bold
font-family: futura-pt-condensed, sans-serif;
font-weight: 700;
font-style: normal;

Futura PT Cond Extra Bold
font-family: futura-pt-condensed, sans-serif;
font-weight: 800;
font-style: normal;
/*